{% extends 'base.html' %}

{% block title %}
    Livro do CPU - Serviço de dia
{% endblock %}

{% block content %}
<div class="container mt-4">
  <h3 class="display-4">Editar Serviço</h3>

  <div class="card">
    <div class="card-body">
      <form method="POST" class="form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit"  class="btn btn-primary">Registrar</button>
        </form>
      </div>
    </div>    
    <a href="#" class="btn btn-secondary mt-3">Cancelar e Voltar para a Lista de Categorias</a>
    
  </div>

  {% endblock %}
  