{% extends 'base.html' %}

{% block title %}
    Livro do CPU - Deletar Livro
{% endblock %}

{% block content %}
<div>
    <h2>Confirmar Exclusão</h2>
    <p>Tem certeza de que deseja excluir o serviço interno <strong>{{ servicointerno.operador }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Excluir</button>
        <a href="{% url 'servicointerno_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
    <a href="#" class="btn btn-secondary mt-3">Cancelar e Voltar para a Lista de Categorias</a>
        
</div>

{% endblock %}