{% extends 'base.html' %}

{% block title %}
    CPUs -  Servicos
{%  endblock %}

{% block content %}

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Operador</th>
                <th>Inicio do serviço</th>
                <th>Fim do Serviço</th>
                <th>Data</th>
                <th>Ações </th>     
            </tr>
        </thead>
        <tbody>
            {% for servicointerno in servicointernos %}
            <tr>
                <td>{{servicointerno.operador}}</td>
                <td>{{servicointerno.horario_inicio}}</td>
                <td>{{servicointerno.horario_fim}}</td>
                <td>{{servicointerno.horario_fim}}</td>

                
            
                <td>
                        <!-- Botão de visualização -->
                        <a href="{% url 'servicointerno_detail' servicointerno.id %}" class="btn btn-info btn-sm">
                            <i class="bi bi-eye"></i> 
                        </a>
    
                        <!-- Botão de edição (verifica permissão) -->
                        {% if perms.core.change_servicointerno %}
                        <a href="{% url 'servicointerno_update' servicointerno.id %}" class="btn btn-warning btn-sm">
                            <i class="bi bi-pencil"></i> 
                        </a>
                        {% endif %}
    
                        <!-- Botão de exclusão (verifica permissão) -->
                        {% if perms.core.delete_servicointerno %}
                        <a href="{% url 'servicointerno_delete' servicointerno.id %}" class="btn btn-danger btn-sm btn-delete">
                            <i class="bi bi-trash"></i> 
                        </a>
                        {% endif %}

                        <!-- Botão de exclusão (verifica permissão) -->
                        {% if perms.core.detail_servicointerno %}
                        <a href="{% url 'gerar_relatorio_pdf' servicointerno.id %}" class="btn btn-success btn-sm btn-printer">
                            <i class="bi bi-printer"></i> 
                        </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

        </tbody>

    </table>
   
</div>

{% endblock %}